<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg shadow">
        <div class="container-fluid">
            <div><a class="navbar-brand text-white" href="#">Navbar</a></div>
            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link fw-semibold text-white" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-semibold text-white" href="/produk_home">Product</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-semibold text-white" href="/keranjang">Cart</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-semibold text-white" href="/profile">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-semibold text-white" href="/history">History</a>
                  </li>
                </ul>
              </div>
            <div>
                <% if (user) { %>
                    <p class="fw-semibold text-uppercase pt-2">
                        <%= user.username %> <span class="ms-2"><button type="button" class="btn btn-light"><a
                                        href="/logout" class=" text-black">Logout</a></button></span>
                    </p>

                    <% } else { %>
                        <button type="button" class="btn btn-light"><a href="/login"
                                class=" text-black">Login</a></button>
                        <button type="button" class="btn btn-light"><a href="/signup"
                                class=" text-black">Register</a></button>
                        <% } %>
            </div>
        </div>
    </nav>
    <div class="d-flex justify-content-center">
        <div class="container p-3 m-5 border d-flex kotak-card flex-wrap table-hover ">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">No.</th>
                    <th scope="col" class="text-center">Nama Produk</th>
                    <th scope="col" class="text-center">Harga Produk</th>
                    <th scope="col" class="text-center">Jumlah Produk</th>
                    <th scope="col" class="text-center">GambarProduk</th>
                    <th scope="col" class="text-center">Total Harga</th>
                    <th scope="col" class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  
                    <form id="checkoutForm" action="/checkout" method="post">
                        <% let totalHarga = 0; %>
                    <% keranjang.forEach((keranjang,index)=> { %>
                        <input type="hidden" name="productId" value="<%= keranjang.id %>">
                        <input type="hidden" name="productname" value="<%= keranjang.name %>">
                        <input type="hidden" name="productprice" value="<%= keranjang.price %>">
                        <input type="hidden" name="productjumlah" value="<%= keranjang.quantity %>">
                        <input type="hidden" name="totalharga" value="<%= totalHarga %>">
                        <input type="hidden" name="status" value="success">
                        <tr>
                          <td class="text-center align-middle">
                            <%= index + 1 %>
                          </td>
                          <td class="text-center align-middle">
                            <%= keranjang.name %>
                          </td>
                          <td class="text-center align-middle"><%= rupiah(keranjang.price) %>
                          </td>
                          <td class="text-center align-middle">
                            <%= keranjang.quantity %>
                          </td>
                          <td class="text-center"><img class="p-3" src="<%= keranjang.image %>" alt="<%= keranjang.name %> Image"
                              style="max-width: 100px; height: 100px;"></td>
                              <td class="text-center align-middle">
                                <%= rupiah(keranjang.quantity * keranjang.price) %>
                              </td>
                          <td class="text-center align-middle"><button type="button"
                                  class="btn btn-danger ms-3"><a class="text-decoration-none text-black" href="/delete-keranjang/<%= keranjang.id %>" onclick="return confirm('Apakah Anda yakin ingin menghapus produk ini?')">Hapus Data</a></button></td>
                        </tr>
                        <% totalHarga += keranjang.quantity * keranjang.price; %>
                        <% }); %>
                        
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-center align-middle">Total Harga = <%= rupiah(totalHarga) %></td>
                            <td class="text-center align-middle"><button type="submit" class="btn btn-primary">Checkout</button></td>
                            </form>
                        </tr>
                </tbody>
              </table>
        </div>
    </div>
    <footer class="p-2 d-flex justify-content-center align-items-center fixed-bottom">
        <p class="fw-semibold text-white">© EcomerceGrocery 2024</p>
    </footer>
    <script src="/bootstrap/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>